@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html, body {
    margin: 0;
    font-family: 'Roboto', sans-serif;

}
.center-body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blueviolet;
    background-image: url("bg.jpg");
}

.link {
    padding: 10px 40px;
    margin-right: 40px;
    cursor: pointer;
    font-size: x-large;
    transition-duration: 0.25s;
    background: rgba(134, 134, 134, 0.2);
    box-shadow: 0 0 2px 2px rgb(60, 0, 88);
    border-radius: 4px;
}
.link > a {
    color: rgb(37, 0, 54) !important;
}
.link:hover {
    margin-top: 10px;
}
.section {
    padding: 10px;
}
.form-control {
    max-width: 250px !important;
    margin-bottom: 10px;
}